# Results with Merged Dataset
Remember to use your new dataset, `combined_dataset.csv`

In [2]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')
df.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,19.0,27.0,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,19.0,27.0,...,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,24.0,33.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No
3,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,24.0,33.0,...,AMS-7,2WD,Gasoline,small car,7.0,26.0,35.0,29.0,6,No
4,AUDI A3,2.0,4,Auto-S6,2WD,Gasoline,station wagon,7.0,27.0,37.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No

### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

In [4]:
df_modelmpg8 = df.groupby('model_2008').mean().cmb_mpg_2008
df_modelmpg8

model_2008
ACURA RDX                      22.000000
AUDI A3                        28.333333
AUDI A4                        27.250000
AUDI A6                        22.666667
AUDI A8 L                      21.500000
AUDI Q7                        24.500000
AUDI S4                        24.000000
AUDI S5                        11.000000
AUDI TT Coupe                  27.333333
AUDI TT Roadster               27.333333
BMW 750i                       19.000000
BMW Alpina B7                  20.000000
BMW M6 Convertible             16.500000
CADILLAC CTS                   22.000000
CADILLAC Escalade              23.000000
CHEVROLET Corvette             15.000000
CHEVROLET Equinox              18.500000
CHEVROLET Impala               34.000000
CHEVROLET Malibu               28.333333
CHEVROLET Silverado 15         28.500000
CHEVROLET Tahoe 1500           24.000000
CHRYSLER 300                   28.600000
CHRYSLER Pacifica              16.666667
DODGE Challenger               21.000000
DODGE Charger                  20.600000
DODGE Durango                  17.400000
FORD F150                      24.666667
FORD Fusion                    17.000000
GMC Acadia                     26.500000
GMC Sierra 15                  23.400000
                                 ...
KIA Sportage                   17.600000
LEXUS LX 570                   15.000000
MASERATI Granturismo           24.000000
MAZDA 3                        23.600000
MAZDA CX-9                     25.500000
MERCEDES-BENZ C300                   NaN
MERCEDES-BENZ SL550            24.000000
NISSAN Armada                  22.500000
NISSAN Versa                   32.000000
PORSCHE 911 Turbo              27.500000
PORSCHE 911 Turbo Cabriolet    25.500000
PORSCHE Boxster                24.666667
PORSCHE Boxster S              25.500000
PORSCHE Cayenne S              14.000000
SUBARU Forester                32.500000
SUBARU Impreza                 20.000000
SUBARU Legacy                  47.666667
TOYOTA 4Runner                       NaN
TOYOTA Avalon                        NaN
TOYOTA Camry                         NaN
TOYOTA Corolla                       NaN
TOYOTA Land Cruiser                  NaN
TOYOTA RAV4                          NaN
TOYOTA Sequoia                       NaN
TOYOTA Tundra                        NaN
TOYOTA Yaris                         NaN
VOLKSWAGEN Jetta                     NaN
VOLKSWAGEN Passat                    NaN
VOLVO S60                            NaN
VOLVO XC 90                          NaN
Name: cmb_mpg_2008, Length: 72, dtype: float64

In [5]:
df_modelmpg18 = df.groupby('model').mean().cmb_mpg
df_modelmpg18

model
ACURA RDX                      22.500000
AUDI A3                        28.000000
AUDI A4                        27.000000
AUDI A6                        25.666667
AUDI A8 L                      22.000000
AUDI Q7                        21.000000
AUDI S4                        24.000000
AUDI S5                        24.000000
AUDI TT Coupe                  26.000000
AUDI TT Roadster               26.000000
BMW 750i                       19.500000
BMW Alpina B7                  19.000000
BMW M6 Convertible             16.500000
CADILLAC CTS                   22.800000
CADILLAC Escalade              17.000000
CHEVROLET Corvette             17.750000
CHEVROLET Equinox              27.833333
CHEVROLET Impala               21.250000
CHEVROLET Malibu               33.000000
CHEVROLET Silverado 15         17.312500
CHEVROLET Tahoe 1500           16.875000
CHRYSLER 300                   20.000000
CHRYSLER Pacifica              22.000000
DODGE Challenger               19.000000
DODGE Charger                  19.750000
DODGE Durango                  19.000000
FORD F150                      19.545455
FORD Fusion                    24.000000
GMC Acadia                     21.750000
GMC Sierra 15                  17.312500
                                 ...
KIA Sportage                   23.333333
LEXUS LX 570                   15.000000
MASERATI Granturismo           16.000000
MAZDA 3                        30.833333
MAZDA CX-9                     23.500000
MERCEDES-BENZ C300             25.666667
MERCEDES-BENZ SL550            20.000000
NISSAN Armada                  15.500000
NISSAN Versa                   31.400000
PORSCHE 911 Turbo              21.000000
PORSCHE 911 Turbo Cabriolet    21.000000
PORSCHE Boxster                24.500000
PORSCHE Boxster S              23.000000
PORSCHE Cayenne S              20.000000
SUBARU Forester                25.666667
SUBARU Impreza                 29.000000
SUBARU Legacy                  26.000000
TOYOTA 4Runner                 18.000000
TOYOTA Avalon                  24.000000
TOYOTA Camry                   30.000000
TOYOTA Corolla                 31.000000
TOYOTA Land Cruiser            15.000000
TOYOTA RAV4                    25.000000
TOYOTA Sequoia                 14.500000
TOYOTA Tundra                  15.250000
TOYOTA Yaris                   32.500000
VOLKSWAGEN Jetta               30.000000
VOLKSWAGEN Passat              29.000000
VOLVO S60                      27.000000
VOLVO XC 90                    32.200000
Name: cmb_mpg, Length: 72, dtype: float64

In [9]:
df['mpg_change'] = df_modelmpg8.sub(df_modelmpg18, fill_value=0)
df.head()
df['mpg_change']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
892   NaN
893   NaN
894   NaN
895   NaN
896   NaN
897   NaN
898   NaN
899   NaN
900   NaN
901   NaN
902   NaN
903   NaN
904   NaN
905   NaN
906   NaN
907   NaN
908   NaN
909   NaN
910   NaN
911   NaN
912   NaN
913   NaN
914   NaN
915   NaN
916   NaN
917   NaN
918   NaN
919   NaN
920   NaN
921   NaN
Name: mpg_change, Length: 922, dtype: float64